# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/contents.xcworkspace/userdata/

# Swift Package Manager
.build/
Package.resolved

# SwiftData
*.store

# macOS
.DS_Store

# Xcode automatic backups
*.xccheckout
*.moved-aside
*.xcuserdatad
